@model AppIndumentaria.Models.Talle

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-header" style="background-color: #1E3250; color: white;">
                    <h3 class="mb-0">Detalles del Talle</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                    </dl>
                    <div class="d-flex justify-content-between mt-4">
                        <a asp-action="Edit" asp-route-id="@Model.TalleID" class="btn btn-warning">Editar</a>
                        <a asp-action="Index" class="btn btn-outline-secondary">Volver al Listado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

